<a href="https://colab.research.google.com/github/Noran69/Exercises-Assignments/blob/main/5_exercise_data_types_and_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Run the following cell to load your data and some utility functions.

In [1]:
import pandas as pd

reviews = pd.read_csv("/content/sample_data/winemag-data_first150k.csv", index_col=0)

# Exercises

## 1.
What is the data type of the `points` column in the dataset?

In [5]:
# Your code here
dtype = reviews.points.dtype
dtype

dtype('int64')

## 2.
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [6]:
point_strings = reviews.points.astype(str)
point_strings

0         96
1         96
2         96
3         96
4         95
          ..
121444    91
121445    91
121446    91
121447    91
121448    91
Name: points, Length: 121449, dtype: object

## 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [7]:
n_missing_prices = reviews.price.isnull().sum()
n_missing_prices

11546

## 4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [8]:
reviews_per_region = reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)
reviews_per_region

region_1
Unknown                                   19756
Napa Valley                                4754
Columbia Valley (WA)                       3921
Russian River Valley                       2901
Mendoza                                    2832
                                          ...
Aleatico dell'Elba                            1
Vin de Pays de la Vallée de l’Aude            1
Vin de Pays de Sainte-Marie la Blanche        1
Kentucky                                      1
California-Oregon                             1
Name: count, Length: 1212, dtype: int64

# Keep going